@model IEnumerable<PhotoProperty.Controllers.VehicleBase>

@{
    ViewBag.Title = "List of vehicles";
}

<h2>List of vehicles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MSRP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MSRP)
        </td>
        <td>
            @{ var alt = $"{item.ModelYear} {item.Manufacturer} {item.Model} {item.Trim}"; }
            <img src="/photo/@item.Id" alt="@alt" title="@alt" class="img-responsive" style="width: 150px;" />
            @*@Html.DisplayFor(modelItem => item.PhotoUrl)*@
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.Id }) @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
