@model AssocSelf.Controllers.EmployeeEditDirectReportsForm

@{
    ViewBag.Title = "Edit Direct Reports";
}

<h2>Edit direct reports for @Model.FullName</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Select the direct reports, and click the Save button</h4>
        <p>It's a multiple select list (use Ctrl+click or Cmd+click)</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EmployeeId)

        @*<div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p class="form-control-static">@Model.FullName</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DirectReports, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (var item in Model.DirectReports)
                {
                    <span>@item.FullName</span><br />
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeList, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    var size = (Model.EmployeeList.Count() < 16) ? Model.EmployeeList.Count() : 15;
                }
                @Html.ListBox("EmployeeIds", Model.EmployeeList, htmlAttributes: new { @class = "form-control", @size = size })
                @Html.ValidationMessageFor(model => model.EmployeeList, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

    </div>
}

<hr />

<div>
    @Html.ActionLink("Back to Details", "Details", new { id = Model.EmployeeId }) |
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
