@model IEnumerable<AssocManyToMany.Controllers.EmployeeWithJobDuties>

@{
    ViewBag.Title = "List of employees";
}

<h2>List of employees</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Office)
        </th>
        <th>
            Job duties
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Office)
        </td>
        <td>
            @if (item.JobDuties.Count() > 0)
            {
                var jd = string.Join("<br />", item.JobDuties.Select(jdn => jdn.Name));
                @Html.Raw(jd)
            }
        </td>
        <td>
            @Html.ActionLink("Edit job duties", "EmployeeAndJobDuties", new { id=item.Id }) |
            @Html.ActionLink("Details", "ByEmployeeWithJobDuties", new { id=item.Id }) @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
