@model AssocAddEdit.Controllers.ManufacturerWithDetail

@{
    ViewBag.Title = "Manufacturer details";
}

<h2>Manufacturer details</h2>

<div>
    @*<h4>ManufacturerWithDetail</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearStarted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearStarted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicles)
        </dt>

        <dd>
            @if (Model.Vehicles.Count == 0)
            {
                <span>(none)</span>
            }
            else
            {
                foreach (var item in Model.Vehicles)
                {
                    <span>@item.ModelYear @item.Model @item.Trim</span><br />
                }
            }
        </dd>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Add vehicle for this manufacturer", "AddVehicle", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
